.container-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  background: #ffcb03;

  .container-sprites {
    margin: 20px auto;
  }

  .element-type {
    text-align: center;
  }

  #img1,
  #img2 {
    height: 120px;
    width: auto;
  }

  #img2 {
    transform: scaleX(-1);
  }
}

#goback {
  margin: 20px auto;
  padding: 20px auto;
  justify-content: center;
  align-items: center;
  width: 50vw;
  max-width: 160px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background: red;
  color: white;
  font-family: bold;
  font-family: "PressStart", sans-serif;
}
